<html>

<head>
    <title>ConvertMyMoney</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
        integrity="sha384-4ZPLezkTZTsojWFhpdFembdzFudphhoOzIunR1wH6g1WQDzCAiPvDyitaK67mp0+" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1><a href="/"><img src="/logo.png" alt="ConvertMyMoney" /></a></h1>